/* div{
    border: 1px solid black;
} */

.bigbox{
    display: flex;
}

.top{
    /* 박스 큰 틀(부모)은 고정값으로 하는게 편할듯 */
    margin: 10px;
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

.img{
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 60%;
    height: 90%;
}

.menuandinput{
    width: 100%;
}

.menubar{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.8%;
}

.m{
    margin-bottom: 5px; /* div 테두리 했을때 이뻐 보일려고 넣음 */
    border-bottom: 1px solid black;
    width: auto;
    background-color: white;
    font-size: 100%;
    margin-right: 2%;
}

.m:hover{
    color: black;
    font-weight: bold;
}
/* input은 검색을 할때 텍스트가 쳐지는 창 */
input{
    /* margin-top: 0.3%; */
    margin-left: 5%;
    width: 98.6%;
    height: 82%;
    border: 5px solid orange;
    font-size: 18px;
 }


.input{
    display: flex;
    height: 80%;
    width: 100%;
}


.inputbutton{
    display: flex;
    width: 80%;
    height: 100%;
    margin-right: 1%;
}

/* 검색하는 창의 테두리 */
.inputbar{
    /* display: flex; */
    width: 80%;
    height: 50%;
    border: none;
    /* margin-right: 10%; */
}

.button{
    width: 8%;
    height: 60%;
    border: 0px;
    margin-left: 5.2%;
}

button{
    width: 100%;
    height: 91%;
    font-size: 25px;
    text-align: center;
    background-color: orange;
    border: none;
    cursor: pointer;
}

.middlebox{
    height: 30px;
    width: 1000px;
    margin-top: 5px;
    display: flex;
    border-top: 7px double orange;
    border-bottom: 7px double orange;
    border-left: 0px;
    border-right: 0px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 10%;
    align-items: center;
}

.category{
    color: rgb(143, 142, 142);
    background-color: white;
    border: 0;
    width: auto;
    margin-right: 15px;
    height: 96%;
    font-size: 18px;
}

.category:hover{
    color: black;
    font-weight: bold;
}

.mainbox{
    margin-top: 10px;
    width: 1000px;
    height: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

.lmainbox{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.bigimg{
    height: 250px;
    width: 100%;
    margin: 0px;
}

.explain1{
    height: 380px;
}

.extitle{
    height: 30px;
    align-content: center;
    background-color: orange;
    display: flex;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 16px;
}

.ex1boxs{
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.miniboxs{
    width: 30%;
    height: 30%;
    flex-grow: 1;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding-right: 10px;
}

.miniboxs:hover{
    background-color: rgb(255, 218, 169);
}

.위코드{
    font-size: 20px;
    color: navy;
}
.향해{
    font-size: 20px;
    color: rgb(191, 10, 10) 
}
.제로{
    font-size: 20px;
    color: green;
}
.코드잇{
    font-size: 20px;
    color: purple;
}
.패캠{
    font-size: 20px;
    color: brown;
}
.저코{
    font-size: 20px;
    color: rgb(67, 25, 25);
}
.일팔공{
    font-size: 20px;
    color: rgb(101, 185, 17);
}
.우아한{
    font-size: 20px;
    color: darkgreen;
}
.스파르타{
    font-size: 20px;
    color: rgb(40, 23, 10);
}

.explain2{
    margin-top: 5px;
    height: 650px;
}

.ex2boxs{
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.sboxs{
    width: 32%;
    height: 100%;
    box-shadow: 3px 3px 0px lightgrey;
    display: flex;
    flex-direction: column;
}

.mimg{
    height: 130px;
    width: 130px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.mtext{
    font-size: 18px;
}

.rmainbox{
    width: 30%;
}

.login{
    margin: 5px;
    height: 10%;
}

.loginbox{
    flex-grow: 8;
    display: flex;
    height: 100%;
    margin-left: 10px;
}

.idpw{
    background-color: antiquewhite;
    width: 70%;
    height: 100%;
}

.idid{
    height: 50%;
    display: flex;
    align-items: center;
}

.pwpw{
    height: 50%;
    display: flex;
    align-items: center;
}

.id{
    width: 70%;
    height: 70%;
    border: 0px solid antiquewhite;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

.pw{
    width: 70%;
    height: 70%;
    border: 0px solid antiquewhite;
    margin: 0px;
    padding: 0px;
}

.loginbutton{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb{
    margin-left: 5px;
    padding: 0px;
    width: 98%;
    height: 100%;
    font-size: 18px;
    color: white;
    font-weight: bold;
    justify-content: center;
}
.lb:hover{
    background-color: rgb(250, 179, 46);
}

.signup{
    flex-grow: 2;
    margin-left: 10px;
}

.sb{
    color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
}

.sb:hover{
    background-color: rgb(250, 179, 46);
}


.wolf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.logotxt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.logoimg{
    width: 42%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}